<p>Hi <%= @user.first_name.presence || "there" %>,</p>

<p>We received a request to reset your password.</p>

<p>
  <a href="<%= @reset_url %>">Reset your password</a>
</p>

<p>This link will expire in 30 minutes.</p>

<p>If you didn’t request this, you can ignore this email.</p>